<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-11 container">
        <!-- general form elements -->
        <div  class="card card-primary">
          {{departmentData|json}}
          <div style="background-color:#3498db;" class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div>

          <!-- /.card-header -->
          <!-- form start -->
          <form (ngSubmit)="addDepartment()">
            <div class="card-body">
              <div class="form-group">
                <label>Nom Department</label>
                <input [(ngModel)] = "departmentData.nomDepartment" name="nomDepartement" type="text" class="form-control"  placeholder="Nom">
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>

            </div>
          </form>
        </div>


